<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">BackHandleStrap Demo</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li id="nav_community"><a href="/community">Community</a></li>
					<li id="nav_docs"><a href="/docs">Docs</a></li>
					<li id="nav_support"><a href="/support" >Support</a></li>
					<li id="nav_shop" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Shop <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Category 1</a></li>
								<li><a href="#">Category 2</a></li>
								<li><a href="#">Category 3</a></li>
							</ul>
					</li>     
				</ul>
				<ul class="nav pull-right">
					<li id="nav_cart" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Cart<b class="caret"></b></a>
							<div class="dropdown-menu" id="cart">
							</div>							
					</li>
					<li id="nav_account" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
							<div class="dropdown-menu" id="authentication">
							</div>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>